@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

* {
    font-family: Inter;
    font-size: 16px;
}

.news-website {
    height: 95%;
    padding: 0 300px 0 300px ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.letter {
    display: inline-block;
    
}

.letter span {
    font-weight: 900;
    font-size: 50px;
    font-family: Cormorant Garamond;
}

.header-menu {
    display: inline-block;
}

.header-menu a {
    color: hsl(236, 13%, 42%);
    text-decoration: none;
    margin-right: 35px;
}

.header-menu a:hover {
    color:hsl(5, 85%, 63%);
}

.main-infos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.main-info {
    display: inline-block;
}

.main-info .main-img {
    max-width: 950px;
    height: 300px;
}

.info-text {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    padding-right: 10px;
}

.main-info .info-logo {
    width: 350px;
    margin-top: -40px;
}

.info-logo h2 {
    font-weight: 900;
    font-size: 55px;
}

.more-info {
    display: inline-block;
    width: 400px;
}

.more-info p {
    color: hsl(236, 13%, 42%);
    line-height: 25px;
}

.more-info button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: hsl(5, 85%, 63%);
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.more-info button:hover {
    background-color: hsl(240, 100%, 5%);
    color:hsl(36, 100%, 99%);
}

.new-info {
    display: inline-block;
    max-width: 375px;
    min-height: 400px;
    background-color: hsl(240, 100%, 5%);
    padding: 15px 20px 0 20px;
    margin-left: -10px;
}

.new-info h2 {
    color: hsl(35, 77%, 62%);
    font-size: 35px;
    font-weight: 700;
}

.new-info a {
    color:hsl(36, 100%, 99%);
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.new-info a:hover {
    color:hsl(35, 77%, 62%);
}

.new-info p {
    color: hsl(233, 8%, 79%);
    margin-bottom: 40px;

}

.new-info hr {
    color: hsl(36, 100%, 99%);
    margin-bottom: 40px;
}

.inter-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.info-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-block img {
    display: inline-block;
    width: 125px;
    height: 150px;
}

.info-block-text {
    display: inline-block;
    height: 150px;
    width: 218px;
    margin-left: 20px;
}

.info-block .number {
    display: block;
    color: hsl(5, 85%, 63%);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.info-block-text a {
    color: hsl(240, 100%, 5%);
    font-weight: 900;
    text-decoration: none;
    font-size: 18px;
}

.info-block-text a:hover {
    color: hsl(5, 85%, 63%);
}

.info-block-text p {
    line-height: 27px;
}

.attribution {
    display: none; 
    text-align: center; 
    margin-top: 50px;

}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.menu-button {
    display: none;
    margin-left: 400px;
}
.mobile-img {
    display: none;
}

.hidden {
    display: none;
    justify-content: end;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: hsla(240, 100%, 5%, 0.396)
}


.hidden-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 250px;
    background-color: #fff;
    padding: 30px 25px 0 0;
}

.hidden-block button {
    width: 50px;
    height: 50px;
    background-color:#fff;
    border: none;
}
.hidden-block button span {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 3px;
    right: 28px;
    background-color: hsl(240, 100%, 5%);
    }
      
.hidden-block button .left {
    transform: rotate(45deg);
}
.hidden-block button .right {
    top: 54px;
    transform: rotate(-45deg);
}

.hidden-menu {
    margin-top: 50px;
}

.hidden-menu a {
    display: block;
    margin-bottom: 30px;
    color:hsl(240, 100%, 5%);
    font-weight: 900;
    text-decoration: none;
    font-size: 35px;
}

@media (max-width: 1740px){
    .news-website {
        padding: 0 110px 0 110px ;
    }
    .main-info .main-img {
        width: 700px;
    }
}

@media (max-width: 1300px) {
    * {
        font-size: 20px;
    }
    .news-website {
        padding: 0 25px 0 25px ;
    }

    .main-info {
        max-width: 575px;
    }

    .main-info .main-img {
        width: 500px;
    }

    .info-text {
        display: block;
    }

    .new-info {
        width: 450px;
    }

    .inter-info {
        display: block;
    }

    .info-block {
        display: block;
        margin-top: 30px;
    }

    .attribution {
        margin-top: 450px;
    }
    .info-block {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
    .info-block-text {
        margin-top: 20px;
    }
}

@media (max-width: 930px) {
    .main-img {
        display: none;
    }
    .mobile-img {
        display: block;
        max-width: 400px;
    }
    .new-info {
        max-width: 320px;
    }
}

@media (max-width: 780px) {
    .news-website {
        padding: 0 50px 0 50px ;
    }
    .main-infos {
        display: block;
    }
    .new-info {
        margin-top: 50px;
    }
    .main-info .main-img {
        width: 600px;
    }
    .info-text .info-logo {
        width: 500px;
    }
}

@media (max-width: 687px) {
    .news-website {
        padding: 0 20px 0 20px ;
    }
    .header-menu {
        display: none;
    }
    .menu-button {
        display: inline-block;
    }
    .menu-button button {
        width: 60px;
        height: 40px;
        background-color:hsl(36, 100%, 99%);
        border: none;
    }
    .menu-button button hr {
        height: 3px;
        width: 50px;
        background-color: hsl(240, 100%, 5%);
        border: none;
    }
}

@media (max-width: 550px) {
    .main-infos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center
    }
    .menu-button {
        margin-left: 200px;
    }
    .main-info {
        max-width: 425px;
      }
      .new-info {
        max-width: 375px;
      }
      .info-logo h2 {
        font-size: 52px;
      }
}

@media (max-width: 460px) {
    .news-website {
        padding: 0 30px 0 30px ;
    }
    * {
        font-size: 20px;
    }
    .menu-button {
        margin-left: 100px;
    }
    .main-info {
        max-width: 350px;
      }
    .mobile-img {
        display: block;
        max-width: 350px;
    }
    .more-info {
        width: 300px;
    }
    .info-text .info-logo {
        width: 250px;
    }
    .info-logo h2 {
        font-size: 48px;
    }
    .more-info {
        margin-top: -30px;
    }
    .more-info p {
        line-height: 32px;
    }
    .more-info button {
        width: 250px;
        height: 70px;
    }
    .new-info {
        max-width: 300px;
    }
    .new-info a {
        font-size: 28px;
    }
    .info-block {
        flex-direction: row;
        text-align: left;
        min-width: 400px;
        padding: 5px 0 0 0;
        min-height: 175px;
    }
    .info-block a{
        font-size: 20px;
    }
    .info-block img {
        height: 175px;
    }
    .info-block p {
        font-size: 18px;
        line-height: 21px;
    }
    .info-block-text {
        height: 170px;
        width: 245px;
    }
}
